<template>
    <div class="flex flex-col items-center">
        <div class="relative mb-8">
            <div class="w-100 h-64 overflow-hidden z-10">
                <img src="https://www.whats-on-netflix.com/wp-content/uploads/2019/01/Kingdom-Season-2-Netflix.jpg"
                     class="object-cover w-full">
            </div>

            <div class="absolute flex items-center bottom-0 left-0 -mb-8 ml-12 z-20">
                <div class="w-32">
                    <img src="https://www.ict.su.ac.th/storage/upload/5b29459c7fafa_1529431452.jpg" class="object-cover w-32 h-32 border-4 border-gray-200 rounded-full shadow-lg">
                </div>
                <p class="text-2xl text-gray-100 ml-4">{{user.data.attributes.name}}</p>
            </div>

            <div class="absolute flex items-center bottom-0 right-0 mb-4 mr-12 z-20">
                <button v-if="friendButtonText && friendButtonText!=='Accept'"
                        class="py-1 px-3 bg-gray-400"
                        @click="$store.dispatch('sendFriendRequest',$route.params.userId)"
                >
                    {{ friendButtonText }}
                </button>
                <button v-if="friendButtonText && friendButtonText==='Accept'"
                        class="py-1 px-3 bg-blue-500"
                        @click="$store.dispatch('acceptFriendRequest',$route.params.userId)"
                >
                    Accept
                </button>
                <button v-if="friendButtonText && friendButtonText==='Accept'"
                        class="py-1 px-3 bg-gray-400"
                        @click="$store.dispatch('ignoreFriendRequest',$route.params.userId)"
                >
                    Ignore
                </button>
            </div>

        </div>

        <p v-if="status.post==='loading'">Loading Posts ...</p>

        <p v-else-if="posts.data.length < 1">  Not Found Posts.</p>

        <Post v-else v-for="post in posts.data" :key="post.data.post_id" :post="post"/>


    </div>
</template>

<script>
    import Post from '../../components/Post';
    import { mapGetters } from 'vuex';
    export default {
        name: "Show",
        components: {
            Post
        },
        mounted() {
            this.$store.dispatch('fetchUser',this.$route.params.userId);
            this.$store.dispatch('fetchUserPosts',this.$route.params.userId);
        }
        ,computed: {
            ...mapGetters({
                user:'user',
                friendButtonText:'friendButtonText',
                posts:'posts',
                status:'status'
            }),
        }
    }
</script>

<style scoped>

</style>
